<header class="navbar navbar-default" id="navbar" role="banner">
  <div id="llnl-menu" >
  </div>

  <div class="container menu-wrap">

    <div class="llnl-logo-wrap">
      <div id="llnl-logo">
        <a href="https://www.llnl.gov"><img src="/assets/images/llnl-logo.png" alt="LLNL Logo" /></a>
      </div>
    </div>
    <div class="nav-wrap">
      <nav role="navigation" id="block-primary-menu">
        <ul class="menu menu--main nav navbar-nav">
          <li class="expanded dropdown"><a href="/">Tutorials</a>
            <ul class="dropdown-menu">
              <li><a class="navbar-normal" href="/mpi/">MPI</a></li>
              <li><a class="navbar-normal" href="/posix/">POSIX</a></li>
            </ul>
          </li>
          <li><a href="{{ site.repo_url }}" target="_blank"><i class="fa fa-github" aria-label="GitHub icon"></i></a></li>
          <li id="twitter-button"><a href="https://twitter.com/LLNL_OpenSource"><i class="fa fa-twitter fa-lg"></i></a></li>
        </ul>
      </nav>
    </div>


  <div class="ignore-click">
  <img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/38ef81f8aca64bb9a64448d0d70f1308ef5341ab/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6461726b626c75655f3132313632312e706e67" alt="Fork me on GitHub" title="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png">
  <!-- <img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub" title="Fork me on GitHub"> -->
  </div>
  <a style="position: absolute; top: 91px; right: 15px; width: 13px; height: 27px;"  alt="Fork me on GitHub" title="Fork me on GitHub" href="{{site.repo_url}}/tree/main/{{page.path}}" target="_blank" ><em></em></a>
  <a style="position: absolute; top: 79px; right: 31px; width: 18px; height: 23px;"  alt="Fork me on GitHub" title="Fork me on GitHub" href="{{site.repo_url}}/tree/main/{{page.path}}" target="_blank" ><em></em></a>
  <a style="position: absolute; top: 64px; right: 44px; width: 14px; height: 25px;"  alt="Fork me on GitHub" title="Fork me on GitHub" href="{{site.repo_url}}/tree/main/{{page.path}}" target="_blank" ><em></em></a>
  <a style="position: absolute; top: 51px; right: 57px; width: 15px; height: 26px;"  alt="Fork me on GitHub" title="Fork me on GitHub" href="{{site.repo_url}}/tree/main/{{page.path}}" target="_blank" ><em></em></a>
  <a style="position: absolute; top: 36px; right: 70px; width: 14px; height: 28px;"  alt="Fork me on GitHub" title="Fork me on GitHub" href="{{site.repo_url}}/tree/main/{{page.path}}" target="_blank" ><em></em></a>
  <a style="position: absolute; top: 24px; right: 81px; width: 12px; height: 28px;"  alt="Fork me on GitHub" title="Fork me on GitHub" href="{{site.repo_url}}/tree/main/{{page.path}}" target="_blank" ><em></em></a>
  <a style="position: absolute; top: 14px; right: 93px; width: 14px; height: 26px;"  alt="Fork me on GitHub" title="Fork me on GitHub" href="{{site.repo_url}}/tree/main/{{page.path}}" target="_blank" ><em></em></a>
  <a style="position: absolute; top: 3px; right: 106px; width: 15px; height: 26px;"  alt="Fork me on GitHub" title="Fork me on GitHub" href="{{site.repo_url}}/tree/main/{{page.path}}" target="_blank" ><em></em></a>
  <a style="position: absolute; top: 1px; right: 120px; width: 13px; height: 13px;"  alt="Fork me on GitHub" title="Fork me on GitHub" href="{{site.repo_url}}/tree/main/{page.path}}" target="_blank" ><em></em></a>
  <!-- Created by Online Image Map Editor (http://www.maschek.hu/imagemap/index) -->
</header>
